<!DOCTYPE html>
<html>
<head>
    <title>Wishlist</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/css/wishlist.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">ASM Airport</a>
        <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="flightInfo">Flights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dining">Dine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shopping">Shop</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="languageDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="../static/images/UK_Flag.svg" alt="Language" class="rounded-circle flag-icon">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="languageDropdown">
                        <a class="dropdown-item" href="/">English</a>
                        <a class="dropdown-item" href="en=it">Italian</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" id="userIconLink">
                        <img src="../static/images/icon.png" alt="User" class="rounded-circle user-icon small-icon"
                             id="userIcon">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="wishlist-heart">
        <i class="heart-ico-wl"></i>
    </div>
    

<div class="wishlist-title">
    <h2>My Wishlist</h2>
</div>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10" id="productContainer">

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../static/js/navbar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
<script src="../static/js/wishlist.js"></script>
</body>
</html>